<% provide(:title, @title) %>
<h2>Nieuwe order voor <%= @user.name %> </h2>

<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being
            saved:</h2>

          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :user_id %>
      <br>
      <%= @user.name %>
    </div>
    <div class="field">
      <%= f.label :ordernr %>
      <br>
      <%= f.text_field :ordernr %> </br>
    </div>
    <div class="field">
      <%= f.label :opmerking %>
      <br>
      <%= f.text_field :opmerking %> </br>
    </div>    <div class="actions">
      <%= f.submit %>
    </div>

    <% if $rio_mode == 1 %>
        <%= link_to 'Back', orders_user_path(current_user.id) %>
    <% else %>
        <%= link_to 'Back', orders_path %>
    <% end %>
<% end %>
