<h1>Orders</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Ordernr</th>
      <th>Userid</th>
      <th>Opmerking</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.ordernr %></td>
        <td><%= order.user_id %></td>
        <td><%= order.opmerking %></td>
        <td><%= link_to('<i class="icon-eye-open"/>'.html_safe, order, title: t("show_item", itemfield:"order" , itemvalue: order.ordernr))  %></td>
        <td><%= link_to('<i class="icon-edit"/>'.html_safe, edit_order_path(order), title: t("edit_item", itemfield:"order" , itemvalue: order.ordernr)) %></td>
        <td><%= link_to('<i class="icon-remove"/>'.html_safe, order, :method => :delete, :confirm => "Are you sure you want to permanently delete the #{ order.ordernr } and all its associated Pilots?", title: t("delete_item", itemfield:"order" , itemvalue: order.ordernr)) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, :class => "btn btn-primary"  %>
