<% provide(:title, @title) %>
<h2>Orders van <%= @order.usr_name %>
  Ordernummer <%= @order.ordernr %>
</h2>

<table>
  <thead>
  <tr>
    <th>Artikelnummer</th>
    <th>Opmerking</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @order_regels.each do |orderr| %>
      <tr>
        <td><%= orderr.art_artikelnummer %></td>
        <td><%= orderr.opmerking%></td>
        <td><%= link_to 'Show', orderr %></td>
        <td><%= link_to 'Edit', edit_order_regel_path(orderr) %></td>
        <td><%= link_to 'Destroy', orderr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Nieuwe orderregel', new_order_regel_order_path %>
