<h1>Viewing <%= @order.ordernr %></h1>
<div class="form-horizontal">
  <fieldset>
    <legend><%= @order.ordernr %> order Information</legend>
    <div class="control-group">
      <label class="control-label">Order:</label>
      <div class="controls">
        <label class="radio inline"><strong><%= @order.ordernr %></strong></label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Opmerking:</label>
      <div class="controls">
        <span class="radio inline"><strong><%= @order.opmerking%></strong></span>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Orderregels</legend>
    <%= render('order_regels_display') %>
  </fieldset>

  <div class="modal-footer">
    <%= link_to("Edit", edit_order_path(@order), :class => "btn btn-primary", :title => "Edit #{ @order.ordernr }.") %>
    <%= link_to("Back to Home", orders_path, :class => "btn btn-inverse", :title => "Return to the Home page.") %>
  </div>
</div>