<%= form_for(@order_regel, remote: true) do |f| %>
    <% if @order_regel.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order_regel.errors.count, "error") %> prohibited this order_regel from being saved:</h2>

          <ul>
            <% @order_regel.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :order_id %>
      <% if !@order_regel.order_id.nil? %>
          <%= @order_regel.ord_ordernr %>
      <% else %>
          <%= f.number_field :order_id %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :artikel_id %>
      <%= f.collection_select(:artikel_id, Artikel.all, :id, :omschrijving, {:include_blank => 'Please Select'}, {class: "form-control"}) %>


    </div>
    <div class="field">
      <%= f.label :aantal %>
      <%= f.number_field :aantal %>
    </div>
    <div class="field">
      <%= f.label :opmerking %>
      <%= f.text_field :opmerking, class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

    <a href="#" data-background-color="#990000">Paint it red</a>                             <br>
    <a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>     <br>
    <a href="#" data-background-color="#000099" data-text-color="#FFFF00">Paint it blue</a>          <br>
    <a heft="#" id="bvlalert">Klikken</a>

<% end %>
