<h1>Listing order_regels</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Artikel</th>
      <th>Aantal</th>
      <th>Opmerking</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_regels.each do |order_regel| %>
      <tr>
        <td><%= order_regel.order_id %></td>
        <td><%= order_regel.artikel_id %></td>
        <td><%= order_regel.aantal %></td>
        <td><%= order_regel.opmerking %></td>
        <td><%= link_to 'Show', order_regel %></td>
        <td><%= link_to 'Edit', edit_order_regel_path(order_regel) %></td>
        <td><%= link_to 'Destroy', order_regel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order regel', new_order_regel_path %>
